.dashboard {
  .dashboard-title--box {
    text-align: center;
    margin-bottom: 106px;
    h6 {
      font-family: "Nexa";
      font-weight: normal;
      font-size: 18px;
      // margin-bottom: 25px;
    }
    h2 {
      font-family: "Nexa";
      width: 734px;
      margin: 0 auto;
      font-weight: 700;
      font-size: 54px;
      margin-bottom: 25px;
    }
    p {
      font-family: "Nexa";
      width: 675px;
      margin: 0 auto;
      font-weight: normal;
      font-size: 18px;
    }
  }
}

.dashboard-section--box {
  position: absolute;
  right: 48px;
  .phone-dashboard {
    position: relative;
    .phone-dashboard--item {
      position: absolute;
      top: 52%;
      left: -280px;
    }
  }
}
.phone-dashboard--box {
  background-color: #e4eaf9;
  display: flex;
  justify-content: space-between;
  width: 120%;
  height: auto;
  padding: 38px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  .phone-dashboard--info {
    h4 {
      font-family: "Lato", sans-serif;
      font-weight: 600;
      font-size: 18px;
      padding-bottom: 12px;
    }
    h2,
    h5 {
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 32px;
    }
    h5 {
      font-size: 20px;
      padding-top: 18px;
      color: #de8b65;
    }
  }
  .phone-dashboard--btn {
    width: 80px;
    height: 43px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    cursor: pointer;
    background-color: #1d191f;
    color: #fff;
    @include flex;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
  }
}
#smart-dashboard {
  background-color: #eef2fb;
  display: flex;
  justify-content: flex-end;
  #smart-dashboard--box {
    right: unset;
    left: 54px;
    .phone-dashboard {
      position: relative;
    }
  }
}
#smart-dashboard--item {
  position: absolute;
  top: 50%;
  left: unset;
  right: -205px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  .smart-item--container {
    width: 350px;
    position: relative;
  }
}
.smart-item--element {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 100%;
  // background-color: #fafafa;
  // padding: 20px;
  box-shadow: 0 0px 5px #b8b5b5;
  position: relative;
  z-index: 2;
  img{
    width: 100%;
  }
  .form-group {
    display: block;
  }
  .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }

  .form-group label {
    position: relative;
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #1d191f;
  }

  .form-group label:before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
      inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 12px;
  }

  .form-group input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .avatar {
    @include flex;
    .avatar-img {
      margin-right: 18px;
    }
    .avatar-name {
      font-family: "Nunito", sans-serif;
      font-weight: 600;
      font-size: 14px;
      color: #1d191f;
    }
  }
  .menu-toggle {
    cursor: pointer;
  }
}
.smart-item--element-info {
  box-shadow: 0 0px 5px #b8b5b5;
  position: relative;
  z-index: 1;
  @include flex;
  // justify-content: space-between;
  width: 95%;
  // padding: 16px;
  // background-color: #f5f5f6;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 0 auto;
  img{
    width: 100%;
  }
  .checked-box,
  .time-now {
    @include flex;
  }
  .checked {
    margin-right: 9px;
  }
  .time-now {
    align-items: flex-start;
    .calendar-icon {
      margin-right: 10px;
    }
    h6 {
      font-family: "Nunito", sans-serif;
      font-weight: 600;
      font-size: 12px;
      color: #1d191f;
    }
  }
  .smart-section--btn {
    border: none;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #93d9b9;
    background-color: #eef5f2;
    padding: 10px 16px;
    cursor: pointer;
    @include transition;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    &:hover {
      background-color: #8edfbc;
      color: #fff;
    }
  }
}
#upay-flow{
  background-color: #e1f5eb;
  .phone-dashboard{
    position: relative;
    .upay-flow--item{
      position: absolute;
      top: 50%;
      left: -226px;
      width: 325px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      img{
        width: 100%;
      }
}
  }
}
@media (max-width: 1225px) {
  #smart-dashboard {
    flex-direction: column-reverse;
  }
  #smart-dashboard--box {
    justify-content: center;
  }
}
@media (max-width: 910px) {
  #smart-dashboard--box {
    justify-content: flex-start;
  }
}
@media (max-width: 768px) {
  #smart-dashboard--item .smart-item--container {
    width: 320px;
  }
  #smart-dashboard--item {
    right: -261px;
  }
  .smart-item--element .form-group label:before {
    padding: 7px;
  }
  .smart-item--element .form-group label {
    font-size: 11px;
  }
  .smart-item--element .avatar .avatar-img {
    margin-right: 10px;
    width: 34px;
  }
  .smart-item--element .avatar .avatar-name {
    font-size: 11px;
  }
  .smart-item--element .menu-toggle {
    width: 5px;
  }
  .smart-item--element-info .checked {
    margin-right: 7px;
    width: 20px;
  }
  .smart-item--element-info .arrow-icon {
    width: 6px;
    width: 18px;
  }
  .smart-item--element-info .time-now h6,
  .smart-item--element-info .smart-section--btn {
    font-size: 11px;
  }
  #upay-flow .phone-dashboard .upay-flow--item{
    left: -175px;
    width: 260px;
  }
  .smart-item--element img{

  }
}
@media (max-width: 622px) {
  #smart-dashboard--item {
    right: -215px;
  }
  #smart-dashboard--item .smart-item--container {
    width: 300px;
  }
}
@media (max-width: 577px) {
  #smart-dashboard--item .smart-item--container {
    width: 250px;
  }
  .smart-item--element .form-group label {
    font-size: 9px;
  }
  .smart-item--element .form-group label:before {
    padding: 5px;
    margin-right: 7px;
  }
  .smart-item--element .avatar .avatar-img {
    margin-right: 10px;
    width: 32px;
  }
  .smart-item--element .avatar .avatar-name {
    font-size: 10px;
  }
  .smart-item--element .menu-toggle {
    width: 4px;
  }
  .smart-item--element-info .checked {
    margin-right: 5px;
    width: 15px;
  }
  .smart-item--element-info .arrow-icon {
    width: 5px;
  }
  .smart-item--element-info .time-now .calendar-icon {
    margin-right: 5px;
    width: 13px;
  }
  .smart-item--element-info .time-now h6,
  .smart-item--element-info .smart-section--btn {
    font-size: 9px;
  }
  .smart-item--element-info .smart-section--btn {
    padding: 8px 14px;
  }
  .smart-item--element-info .star-icon {
    width: 14px;
  }
  #upay-flow .phone-dashboard .upay-flow--item{
    left: -120px;
    width: 180px;
  }
}
@media (max-width: 477px) {
  #smart-dashboard #smart-dashboard--box {
    position: relative;
    left: -32px;
    top: 8px;
  }
  #smart-dashboard--item {
    right: -200px;
  }
  #smart-dashboard--item .smart-item--container {
    width: 236px;
  }
}
@media (max-width: 452px) {
  #smart-dashboard--item .smart-item--container {
    width: 230px;
  }
  #smart-dashboard--item {
    right: -190px;
  }
}
@media (max-width: 393px) {
  #smart-dashboard--item .smart-item--container {
    width: 214px;
  }
  #smart-dashboard--item {
    right: -173px;
  }
}
@media (max-width: 377px) {
  #smart-dashboard--item .smart-item--container {
    width: 190px;
  }
  #smart-dashboard--item {
    right: -141px;
  }
  .smart-item--element .form-group label {
    font-size: 8px;
  }
  .smart-item--element .form-group label:before {
    padding: 3px;
    margin-right: 4px;
  }
  .smart-item--element .avatar .avatar-img {
    margin-right: 4px;
    width: 26px;
  }
  .smart-item--element .avatar .avatar-name {
    font-size: 9px;
  }
  .smart-item--element .menu-toggle {
    width: 3px;
  }
  .smart-item--element-info .checked {
    margin-right: 4px;
    width: 11px;
  }
  .smart-item--element-info .arrow-icon {
    width: 4px;
  }
  .smart-item--element-info .time-now .calendar-icon {
    margin-right: 4px;
    width: 11px;
  }
  .smart-item--element-info .time-now h6,
  .smart-item--element-info .smart-section--btn {
    font-size: 7px;
  }
  .smart-item--element-info .smart-section--btn {
    padding: 8px 12px;
  }
  .smart-item--element-info .star-icon {
    width: 11px;
  }
  #upay-flow .phone-dashboard .upay-flow--item{
    left: -97px;
    width: 150px;
  }
}
@media (max-width: 330px) {
  #smart-dashboard--item {
    right: -123px;
  }
  #smart-dashboard--item .smart-item--container {
    width: 180px;
  }
  .smart-item--element{
    width: 90%;
  }
  .smart-item--element-info{
    width: 85%;
    margin: unset;
  }
}
