.international-payments {
  padding-bottom: 127px;
}
.international-payments--box {
  width: 100%;
  height: 432px;
  background: #5a5df7 url("../../img/international-section--bg.png") right
    no-repeat;
  //   background-position: right;
  //   background-repeat: no-repeat;
  padding: 106px 40px 71px 54px;
  @include flex;
  justify-content: space-between;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  .international--left-block {
    h2 {
      font-family: "GRIFTER";
      font-size: 40px;
      color: #fff;
      font-weight: bold;
      width: 650px;
    }
    .international--left-items {
      @include flex;
      justify-content: flex-start;
      margin-top: 44px;
      .international--left-item {
        @include flex;
        justify-content: flex-start;
        &:not(:last-child) {
          margin-right: 58px;
        }
        p {
          font-size: 20px;
          font-weight: 500;
          color: #ededed;
          margin-left: 16px;
        }
      }
    }
  }
}
.international--right-block {
  position: relative;
  .international--right-item {
    background-color: #fff;
    @include flex;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    justify-content: space-between;
    width: 347px;
    padding: 16px 13px 15px 12px;
    &:first-child {
      transform: translateX(-100px);
      -webkit-transform: translateX(-100px);
      -moz-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
      -o-transform: translateX(-100px);
}
    &:nth-child(2) {
      transform: rotate(-1deg);
      -webkit-transform: rotate(-1deg);
      -moz-transform: rotate(-1deg);
      -ms-transform: rotate(-1deg);
      -o-transform: rotate(-1deg);
    }
    &:nth-child(3) {
      transform: translateX(-52px);
      -webkit-transform: translateX(-52px);
      -moz-transform: translateX(-52px);
      -ms-transform: translateX(-52px);
      -o-transform: translateX(-52px);
    }
    .info {
      @include flex;
      .info-text {
        margin-left: 13px;
        h6 {
          font-family: "Inter", sans-serif;
          color: #242424;
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 7px;
        }
        p {
          font-family: "Inter", sans-serif;
          color: #707070;
          font-weight: normal;
        }
      }
    }
    .price {
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: 16px;
    }
    .price-one {
      color: #0a9e01;
    }
    .price-two {
      color: #f20c0c;
    }
  }
  .lightning {
    position: absolute;
    top: -18px;
    right: 0;
  }
}
.international--right-item {
  &:not(:last-child) {
    margin-bottom: 22px;
  }
  &:nth-child(3) {
    margin-bottom: 0;
  }
}
@media (max-width: 1259px) {
  .international-payments--box .international--left-block h2 {
    width: 63%;
    font-size: 36px;
  }
  .international-payments--box
    .international--left-block
    .international--left-items
    .international--left-item
    p {
    font-size: 18px;
  }
  .international-payments--box
    .international--left-block
    .international--left-items
    .international--left-item
    img {
    width: 16px;
  }
  .international-payments--box
    .international--left-block
    .international--left-items
    .international--left-item:not(:last-child) {
    margin-right: 40px;
  }
  .international--right-block {
    width: 37%;
  }
  .international--right-block .international--right-item {
    width: 100%;
  }
  .international--right-block .international--right-item .info .info-text h6,
  .international--right-block .international--right-item .info .info-text p,
  .international--right-block .international--right-item .price {
    font-size: 14px;
  }
  .international--right-block .lightning {
    width: 27%;
  }
}
@media (max-width: 1189px) {
  .international-payments--box
    .international--left-block
    .international--left-items
    .international--left-item:not(:last-child) {
    margin-right: 20px;
  }
  .international-payments--box
    .international--left-block
    .international--left-items
    .international--left-item
    img {
    width: 15px;
  }
  .international-payments--box
    .international--left-block
    .international--left-items
    .international--left-item
    p {
    font-size: 16px;
    margin-left: 12px;
  }
  .international--right-block {
    width: 40%;
  }
}
@media (max-width: 1173px) {
  .international-payments--box {
    flex-direction: column;
    height: auto;
    padding: 50px 40px;
  }
  .international--left-block {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }
  .international-payments--box
    .international--left-block
    .international--left-items {
    margin-top: 22px;
  }
  .international-payments--box
    .international--left-block
    .international--left-items
    .international--left-item:not(:last-child) {
    margin-right: 40px;
  }
  .international--right-block {
    width: 50%;
    left: 15%;
    transform: translateX(-15%);
    -webkit-transform: translateX(-15%);
    -moz-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    -o-transform: translateX(-15%);
  }
  .international--right-block .lightning {
    width: 20%;
    top: -80px;
    right: 64px;
  }
}
@media (max-width: 1035px) {
  .international--right-block .lightning {
    top: -24%;
    right: 16%;
  }
}
@media (max-width: 943px) {
  .international--right-block .lightning {
    top: -22%;
    right: 21%;
  }
}
@media (max-width: 850px) {
  .international-payments--box .international--left-block h2 {
    width: 100%;
  }
  .international--right-block .lightning {
    top: -20%;
    right: 24%;
  }
}
@media (max-width: 790px) {
  .international--right-block .lightning {
    top: -17%;
    right: 30%;
  }
}
@media (max-width: 684px) {
  .international--right-block {
    width: 60%;
    left: 20%;
    transform: translateX(-20%);
    -webkit-transform: translateX(-20%);
    -moz-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    -o-transform: translateX(-20%);
  }
}
@media (max-width: 636px) {
  .international--right-block {
    left: 25%;
    transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    -moz-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    -o-transform: translateX(-25%);
  }
}
@media (max-width: 626px) {
  .international-payments--box .international--left-block h2 {
    font-size: 34px;
  }
  .international-payments--box
    .international--left-block
    .international--left-items {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    margin-top: 22px;
  }
  .international-payments--box
    .international--left-block
    .international--left-items
    .international--left-item:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media (max-width: 614px) {
  .international--right-block {
    width: 65%;
    margin-left: 50px;
  }
}
@media (max-width: 570px) {
  .international--right-block {
    width: 70%;
  }
}
@media (max-width: 546px) {
  .international-payments--box {
    background-position: bottom;
  }
  .international-payments--box
    .international--left-block
    .international--left-items {
    margin-top: 30px;
  }
  .international-payments--box
    .international--left-block
    .international--left-items
    .international--left-item
    img {
    width: 22px;
  }
  .international-payments--box
    .international--left-block
    .international--left-items
    .international--left-item:not(:last-child) {
    margin-bottom: 37px;
  }
  .international-payments--box
    .international--left-block
    .international--left-items
    .international--left-item
    p {
    font-size: 18px;
  }
  .international--left-block {
    margin-bottom: 55px;
  }
  .international-payments--box .international--left-block h2 {
    font-size: 33px;
  }
  .international--right-block {
    margin-left: 0;
    left: unset;
    transform: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .international--right-block .international--right-item:first-child,
  .international--right-block .international--right-item:nth-child(3) {
    transform: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
  }
  .international--right-block .international--right-item:nth-child(2) {
    transform: rotate(-1.5deg);
    -webkit-transform: rotate(-1.5deg);
    -moz-transform: rotate(-1.5deg);
    -ms-transform: rotate(-1.5deg);
    -o-transform: rotate(-1.5deg);
    width: 93%;
  }
  .international--right-block .lightning {
    top: -23%;
    right: -5%;
  }
}
@media (max-width: 464px) {
  .international-payments--box
    .international--left-block
    .international--left-items
    .international--left-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .international-payments--box
    .international--left-block
    .international--left-items
    .international--left-item
    p {
    font-size: 17px;
  }
}
@media (max-width: 458px) {
  .international-payments--box .international--left-block h2 {
    font-size: 31px;
  }
  .international-payments--box
    .international--left-block
    .international--left-items
    .international--left-item
    img {
    width: 18px;
  }
  .international-payments--box
    .international--left-block
    .international--left-items
    .international--left-item
    p {
    font-size: 16px;
  }
}
@media (max-width: 427px) {
  .international-payments--box {
    padding: 50px 20px;
  }
  .international-payments--box .international--left-block h2 {
    font-size: 29px;
  }
}
@media (max-width: 400px) {
  .international--right-block .lightning {
    top: -16%;
  }
  .international-payments--box
    .international--left-block
    .international--left-items
    .international--left-item
    img {
    width: 16px;
  }
  .international-payments--box
    .international--left-block
    .international--left-items
    .international--left-item
    p {
    font-size: 15px;
  }
  .international--right-block .international--right-item .info .info-text h6,
  .international--right-block .international--right-item .info .info-text p,
  .international--right-block .international--right-item .price {
    font-size: 13px;
  }
}
@media (max-width: 377px) {
  .international-payments--box .international--left-block h2 {
    font-size: 27px;
  }
}
@media (max-width: 362px) {
  .international--right-block .international--right-item .info .info-text h6,
  .international--right-block .international--right-item .info .info-text p,
  .international--right-block .international--right-item .price {
    font-size: 12px;
  }
}
@media (max-width: 357px) {
  .international-payments--box .international--left-block h2 {
    font-size: 26px;
  }
  .international-payments--box
    .international--left-block
    .international--left-items
    .international--left-item
    img {
    width: 15px;
  }
  .international-payments--box
    .international--left-block
    .international--left-items
    .international--left-item
    p {
    font-size: 14px;
  }
}
@media (max-width: 345px) {
  .international-payments--box .international--left-block h2 {
    font-size: 24px;
  }
  .international-payments--box
    .international--left-block
    .international--left-items
    .international--left-item
    img {
    width: 13px;
  }
  .international-payments--box
    .international--left-block
    .international--left-items
    .international--left-item
    p {
    font-size: 12px;
  }
  .international--right-block .international--right-item .info .info-text h6,
  .international--right-block .international--right-item .info .info-text p,
  .international--right-block .international--right-item .price {
    font-size: 11px;
  }
}
@media (max-width: 326px) {
  .international-payments--box .international--left-block h2 {
    font-size: 22px;
  }
  .international-payments--box
    .international--left-block
    .international--left-items
    .international--left-item:not(:last-child) {
    margin-bottom: 26px;
  }
  .international-payments--box
    .international--left-block
    .international--left-items
    .international--left-item
    p {
    font-size: 11px;
  }
  .international--right-block .international--right-item .info .info-text h6,
  .international--right-block .international--right-item .info .info-text p,
  .international--right-block .international--right-item .price {
    font-size: 10px;
  }
}
