.money-transfers {
  padding-bottom: 154px;
  #money-transfers--content {
    margin-top: 114px;
    .tab-content--element {
      background-color: #f6ddfd;
    }
  }
}
.tab-content {
  .vs-line {
    left: -294px;
    top: 229px;
    .vs-line--item {
      width: 228px;
    }
  }
}
@media (max-width: 1122px) {
  .money-transfers {
    padding-bottom: 15px;
    #money-transfers--content {
      flex-direction: column-reverse;
      margin-top: 80px;
      .tab-content--items {
        margin-top: 120px;
      }
      .vs-line {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        top: unset;
        bottom: -60px;
      }
    }
  }
}
@media (max-width: 992px) {
  .money-transfers #money-transfers--content .tab-content--items {
    margin-top: 100px;
  }
  .money-transfers #money-transfers--content {
    margin-top: 70px;
  }
}
@media (max-width: 628px) {
  .money-transfers #money-transfers--content {
    margin-top: 30px;
  }
  .money-transfers #money-transfers--content .tab-content--items {
    margin-top: 75px;
  }
}
