.pay-transactions {
  margin-bottom: 114px;
}
.tab-content {
  margin-top: 112px;
}
#pay-transactions--content .vs-line {
  left: -292px;
  // top: 233px;
  top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
}
#pay-transactions--content .vs-line .vs-line--item {
  width: 220px;
}
