.tab-content .tab-content--element .tab-content--element-box{
  text-align: center;
}
.tab-element--img-box{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.tab-content .tab-content--element img{
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
}
@media (max-width: 1122px) {
  .tab-content {
    flex-direction: column;
    margin-top: 34px;
    .tab-content--items {
      margin-bottom: 70px;
    }
    .tab-content--element {
      width: 65%;
      height: auto;
      margin: 0 auto;
      position: relative;
      .tab-element--img-box {
        margin: 0 auto;
        width: 100%;
      }
      .tab-content--element-box {
        margin: 0 auto;
      }
      img {
        margin-right: auto;
        height: 400px;
      }
    }
    .vs-line {
      width: 100%;
      position: absolute;
      left: 0;
      top: -64px;
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      .vs-line--text {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
      }
      .vs-line--item {
        width: 45%;
      }
    }
  }
  #pay-transactions--content .vs-line {
    width: 100%;
    position: absolute;
    left: 0;
    top: -64px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    .vs-line--text {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
    }
    .vs-line--item {
      width: 45%;
    }
  }
}
@media (max-width: 992px) {
  .tab-content {
    .tab-content--element {
      width: 65%;
    }
  }
  .tab-content .tab-content--element img{
    height: auto;
  }
}
@media (max-width: 894px) {
  .tab-content {
    .tab-content--element {
      width: 70%;
    }
  }
  .subtitle {
    font-size: 13px;
  }
  .title {
    font-size: 34px;
  }
  .description {
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  .tab-content {
    .tab-content--element {
      width: 80%;
    }
  }
  .subtitle {
    font-size: 12px;
  }
  .title {
    font-size: 31px;
  }
  .description {
    font-size: 14px;
  }
}
@media (max-width: 700px) {
  .tab-content {
    .tab-content--element {
      width: 90%;
    }
  }
  .subtitle {
    font-size: 11px;
  }
  .title {
    font-size: 28px;
  }
  .description {
    font-size: 14px;
  }
  .tab-content .tab-content--element img{
    height: auto;
  }
}
@media (max-width: 650px) {
  .subtitle {
    font-size: 10px;
  }
  .title {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
  }
  .description {
    font-size: 14px;
    width: 100%;
  }
  .tab-content {
    .tab-content--element {
      .tab-element--title {
        font-size: 24px;
      }
      .tab-element--description {
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 628px) {
  .tab-content {
    margin-top: 30px;
    .tab-content--element {
      img {
        margin: 0 auto;
        margin-bottom: 37px;
      }
      .tab-content--element-box {
        width: 100%;
      }
    }
  }
  .tab-content .tab-content--items {
    height: 130px;
    padding-right: 25px;
    margin-bottom: 80px;
    &::-webkit-scrollbar {
      width: 10px;
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #563acc;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
      background-color: #b3deff;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
  }
  .tab-content .tab-content--items .tab-content--item.tab-item--active {
    padding: 6px 10px;
  }
  .tab-content .tab-content--items .tab-content--item.tab-item--active svg {
    width: 18px;
    height: 18px;
  }
  .tab-content .tab-content--items .tab-content--item:not(:last-child) {
    margin-bottom: 21px;
  }
  .tab-content .tab-content--items::before,
  .tab-content .tab-content--items::after {
    display: none;
  }
  .tab-content .tab-content--items .tab-content--item p {
    margin-left: 8px;
  }
}
@media (max-width: 558px) {
  .tab-content .vs-line .vs-line--text {
    font-size: 15px;
  }
}
@media (max-width: 478px) {
  .tab-content {
    .tab-content--element {
      width: 100%;
      img {
        margin-bottom: 16px;
      }
      .tab-element--title {
        font-size: 20px;
        margin-bottom: 10px;
      }
      .tab-element--description {
        font-size: 14px;
      }
    }
    .tab-content--items {
      .tab-content--item {
        .tab {
          font-size: 14px;
        }
      }
    }
  }
}
@media (max-width: 328px) {
  header nav .logo {
    font-size: 16px;
  }
  #menu-button .menu-icon__line {
    margin-bottom: 6px;
  }
  .tab-content {
    .tab-content--items {
      .tab-content--item {
        @include flex;
        justify-content: flex-start;
        &.tab-item--active {
          @include flex;
          justify-content: flex-start;
        }
      }
    }
    .tab-content--element {
      img {
        width: 90%;
        margin-bottom: 16px;
      }
      .tab-element--title {
        font-size: 17px;
        margin-bottom: 10px;
      }
      .tab-element--description {
        font-size: 12px;
      }
    }
    .tab-content--items {
      .tab-content--item {
        .tab {
          font-size: 12px;
        }
      }
    }
  }
}
