.testimonials {
  margin-bottom: 114px;
  position: relative;
  .title-block {
    margin-bottom: 60px;
    .subtitle {
      margin-bottom: 22px;
    }
    #testimonials--title {
      width: unset;
    }
  }
  // background-color: red;
}
#tns1-iw {
  width: 80%;
  margin: 0 auto !important;
}
#tns1 > .tns-item {
  padding: 0 1rem;
}
.slider-container {
  position: relative;
  .slider-item {
    // width: 834px !important;
    .slider-content {
      margin: 0 auto;
      border-radius: 24px;
      -webkit-border-radius: 24px;
      -moz-border-radius: 24px;
      -ms-border-radius: 24px;
      -o-border-radius: 24px;
      border: 1px solid #949494;
      overflow: hidden;
      width: 100%;
    }
    &:not(:last-child) {
      // margin-right: 38px;
    }
    .slider-head {
      padding: 94px;
      background-color: #eae7ff;
      .slider-description {
        font-size: 24px;
        font-weight: 500;
        color: $grey;
        width: 642px;
        text-align: center;
        margin: 0 auto;
      }
    }
    .slider-foot {
      @include flex;
      border-top: 1px solid #949494;
      background-color: #e5dbfb;
      padding: 30px;
      .slider-avatar {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin-right: 12px;
      }
      .slider-avatar--info {
        h6 {
          font-family: "GRIFTER";
          font-weight: bold;
          font-size: 20px;
          color: $black;
        }
        p {
          font-size: 16px;
          font-weight: normal;
          color: $grey;
        }
      }
    }
  }
}
// .tns-outer [aria-controls],
// .tns-outer [data-action] {
//   width: 48px;
//   height: 48px;
//   border-radius: 50%;
//   -webkit-border-radius: 50%;
//   -moz-border-radius: 50%;
//   -ms-border-radius: 50%;
//   -o-border-radius: 50%;
//   z-index: 3;
//   border: none;
// }

// .custom-control--container{
//   position: absolute;
//   left: 50%;
//   top: 62%;
//   transform: translate(-50%, -62%);
//   -webkit-transform: translate(-50%, -62%);
//   -moz-transform: translate(-50%, -62%);
//   -ms-transform: translate(-50%, -62%);
//   -o-transform: translate(-50%, -62%);
// }
.slider-content{
  position: relative;
}
#custom-control {
  width: 100%;
  position: absolute;
  top: 50%;
  height: 0;
  display: flex;
  // justify-content: space-between;
  // position: relative;
  position: absolute;
  .slick-arrow {
    cursor: pointer;
    border:none;
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    @include flex;
    background-color: #fff;
  }
  #slick-prev {
    left: 14%;
  }
  #slick-next {
    left: 78%;
    img {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
    }
  }
}

@media (max-width:1140px) {
  .slider-container .slider-item .slider-head .slider-description{
    width: 100%;
  }
  #custom-control #slick-prev{
    left: 15%;
  }
  #custom-control #slick-next{
    left: 75%;
  }
}
@media (max-width:922px){
  #custom-control #slick-prev{
    left: 16%;
  }
  #custom-control #slick-next{
    left: 73%;
  }
}
@media (max-width:881px){
  #custom-control #slick-prev{
    left: 16%;
  }
  #custom-control #slick-next{
    left: 72%;
  }
}
@media (max-width:881px){
  #custom-control #slick-prev{
    left: 16%;
  }
  #custom-control #slick-next{
    left: 71%;
  }
}
@media (max-width:728px){
  #custom-control .slick-arrow{
    width: 40px;
    height: 40px;
  }
}
@media (max-width:654px){
  .slider-container .slider-item .slider-head{
    padding: 70px;
  }
  .slider-container .slider-item .slider-foot{
    padding: 24px;
  }
}
@media (max-width:634px){
  #custom-control #slick-prev{
    left: 17%;
  }
  #custom-control #slick-next{
    left: 68%;
  }
  #custom-control .slick-arrow{
    width: 35px;
    height: 35px;
    img{
      width: 8px;
    }
  }
}
@media (max-width:580px){
  .slider-container .slider-item .slider-head .slider-description{
    width: 90%;
  }
  .slider-container .slider-item .slider-head .slider-description{
    font-size: 20px;
  }
  .slider-container .slider-item .slider-foot .slider-avatar{
    width: 55px;
    height: 55px;
  }
  .slider-container .slider-item .slider-foot .slider-avatar--info h6{
    font-size: 18px;
  }
  .slider-container .slider-item .slider-foot .slider-avatar--info p{
    font-size: 14px;
  }
  .slider-container .slider-item .slider-head{
    padding: 50px;
  }
  .slider-container .slider-item .slider-foot{
    padding: 20px;
  }
  
}
@media (max-width:490px){
  .slider-container .slider-item .slider-head{
    padding: 40px;
  }
  .slider-container .slider-item .slider-foot{
    padding: 18px;
  }
}
@media (max-width:472px){
  #custom-control #slick-prev{
    left: 17%;
  }
  #custom-control #slick-next{
    left: 66%;
  }
  #custom-control .slick-arrow{
    width: 30px;
    height: 30px;
    img{
      width: 7px;
    }
  }
  .slider-container .slider-item .slider-head{
    padding: 30px;
  }
  .slider-container .slider-item .slider-foot{
    padding: 16px;
  }
  .slider-container .slider-item .slider-head .slider-description{
    font-size: 17px;
  }
}
@media (max-width:404px){
  .slider-container .slider-item .slider-head .slider-description,.slider-container .slider-item .slider-foot .slider-avatar--info h6{
    font-size: 15px;
  }
  .slider-container .slider-item .slider-foot .slider-avatar--info p{
    font-size: 13px;
  }
  .slider-container .slider-item .slider-foot .slider-avatar{
    width: 45px;
    height: 45px;
  }
}
@media (max-width:380px){
  #custom-control #slick-prev{
    left: 18%;
  }
  #custom-control #slick-next{
    left: 68%;
  }
  .slider-container .slider-item .slider-head{
    padding: 25px;
  }
  .slider-container .slider-item .slider-foot{
    padding: 15px;
  }
  .slider-container .slider-item .slider-head .slider-description, .slider-container .slider-item .slider-foot .slider-avatar--info h6{
    font-size: 14px;
  }
  .slider-container .slider-item .slider-foot .slider-avatar--info p{
    font-size: 12px;
  }
  #custom-control .slick-arrow{
    width: 20px;
    height: 20px;
  }
  #custom-control .slick-arrow img{
    width: 6px;
  }
  .slider-container .slider-item .slider-foot .slider-avatar{
    width: 40px;
    height: 40px;
  }
}