@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin transition{
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
}